<footer class="footer pt-5 pb-2">
    <div class="content is-flex is-justify-content-space-between is-align-items-center">
        <p>
            <strong>TaskLogger (v1.0.0)</strong> by
            <a href="https://philipp.hoehle.eu">Philipp Höhle</a><br />
            <a href="mailto:philipp.hoehle@sachsen-anhalt.de" target="_blank">Medienpädagogischer Berater</a>
            des Landes Sachsen-Anhalt.
            <a href="https://www.bildung-lsa.de/medienberatung" target="_blank">www.bildung-lsa.de/medienberatung</a>
        </p>
        <p>
            <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">
                <img src="https://img.shields.io/badge/License-MIT-green.svg" alt="MIT License"
                    style="vertical-align:middle;">
            </a>
        </p>
    </div>
</footer>