<div class="notification is-warning">
    <h1 class="title">Seite nicht gefunden (404)</h1>
    <p>Die angeforderte Seite existiert nicht.</p>
    <a class="button is-link mt-3" href="/">Zur Startseite</a>
</div>