<h1 class="title">Benutzerverwaltung</h1>
<a class="button is-primary mb-3" href="/admin/benutzer/neu">Neuen Benutzer anlegen</a>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Benutzername</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(u=> { %>
            <tr>
                <td>
                    <%= u.id %>
                </td>
                <td>
                    <%= u.username %>
                </td>
                <td>
                    <% if (u.id !==1) { %>
                        <a class="button is-small is-warning" href="/admin/benutzer/reset/<%= u.id %>">Passwort
                            zurücksetzen</a>
                        <a class="button is-small is-danger" href="/admin/benutzer/loeschen/<%= u.id %>">Löschen</a>
                        <% } else { %>
                            <span class="tag is-info">Admin</span>
                            <% } %>

                </td>
            </tr>
            <% }) %>
    </tbody>
</table>