<div class="columns is-centered">
    <div class="column is-half">
        <h1 class="title">Login</h1>
        <form action="/login" method="POST" class="box">
            <div class="field">
                <label class="label">Benutzername</label>
                <div class="control">
                    <input class="input" name="username" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Passwort</label>
                <div class="control">
                    <input class="input" type="password" name="password" required>
                </div>
            </div>
            <div class="field">
                <button class="button is-link" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>